.paging{clear:both;text-align:center;}
.paging a{display:inline-block;margin:25px 0;width:22px;line-height:22px;border:1px solid #b2b2b2;color:#a9a9a9;text-align:center;vertical-align:middle;}
.paging a.on{color:#fff;background-color:#fe4701;}
.paging a.first,
.paging a.prev,
.paging a.next,
.paging a.last{width:24px;height:24px;font-size:0;border:none;}
.paging a.first{background:#aaa url(../img/common/bg_prev_t.png) center no-repeat;}
.paging a.prev{background:#aaa url(../img/common/bg_prev.png) center no-repeat;}
.paging a.next{background:#aaa url(../img/common/bg_next.png) center no-repeat;}
.paging a.last{background:#aaa url(../img/common/bg_next_t.png) center no-repeat;}
